/* <--****************** TEXT STYLES ****************** --> */

*body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 50px;
  color: black;
}

h1 span {
  color: white;
  font-size: 50px;
}

a{
color: black;

}

/* <--****************** THE GRID LAYOUT ****************** --> */

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 0.2fr 40rem  0.2fr;
  grid-gap: 1.25rem;
 

  grid-template-areas:
    "header1 "
    "card2 "
    "footer14 ";
}
/* <--****************** HEADER NAVBAR ****************** --> */

.gridcontainer-header-navbar {
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: auto auto;
  background: #ff0000;
  text-align: right;
  padding: 10px;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.gridcontainer-header-navbar-leftside {
  display: flex;
}

.gridcontainer-header-navbar-leftside-link {
  margin: 30px 0px 0px 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.gridcontainer-header-navbar-leftside-link a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.gridcontainer-header-navbar-leftside-link a:hover {
  color: black;
  text-decoration: underline solid black 1px;
}

.active-gridcontainer-header-navbar-leftside-link a {
  color: black !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.gridcontainer-header-navbar-rightside {
  padding: 0px 10px 0px 0px;
  display: flex;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}

/* <-- ************ CARDS ******************--> */

.gridcontainer-card-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.gridcontainer-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.gridcontainer-card-image:hover img {
  opacity: 50%;
  transition-timing-function: ease-in;
  transition: opacity 0.75s ease-in-out;
  filter: drop-shadow(4px 3px 4px rgb(104, 104, 104));
}

.gridcontainer-card-image-description {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 60px;
  transition-timing-function: ease-in;
  box-sizing: border-box;
  transition: opacity 0.75s ease-in-out;
}



.gridcontainer-card-image-description-title {
  margin-top: 20px;
  font-family: Roboto, "Arial", Helvetica, sans-serif;
  font-size: 3vw;
  font-weight: 500;
}

.gridcontainer-card-image-description-tagline {
  font-family: Roboto, "Arial", Helvetica, sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
  font-style: italic;
}

/* <-- ************ FOOTER-NAVBAR ******************--> */

.gridcontainer-footer-navbar {
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: auto auto;
  background: #ff0000;
  padding: 0px 0px;
  text-align: right;
  width: 100%;
  height: 100%;

}
.gridcontainer-footer-navbar-leftside {
  display: flex;
  padding: 30px;
  margin: 10px;
  left: 10px;
}
.gridcontainer-footer-navbar-leftside-links {
  margin: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.gridcontainer-footer-navbar-leftside-links a:hover {
  border-bottom: 1px solid black;
  color: black;
}

.gridcontainer-footer-navbar-rightside {
  padding: 0px 10px 0px 0px;
  justify-content: right;
  font-family: Arial, Helvetica, sans-serif;
}
.facebook {
  color: white;
}
.twitter {
  color: white;
}
.google {
  color: white;
}
.linkedin {
  color: white;
}
.youtube {
  color: white;
}

/* <--****************** SET GRID AREAS ****************** --> */
.header1 {
  grid-area: header1;
  background-color: black;
  padding: 10px 0px;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card4 {
  grid-area: card4;
}
.card5 {
  grid-area: card5;
}
.card6 {
  grid-area: card6;
}
.card7 {
  grid-area: card7;
}
.card8 {
  grid-area: card8;
}
.card9 {
  grid-area: card9;
}
.card10 {
  grid-area: card10;
}
.card11 {
  grid-area: card11;
}
.card12 {
  grid-area: card12;
}
.card13 {
  grid-area: card13;
}

.footer14 {
  grid-area: footer14;
  background-color: black;
  padding: 10px 0px;
}

/* <--****************** MEDIA QUERIES ****************** --> */

@media only screen and (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 1f 1f 1f 1f 1f 1f 1f 1f 0.4f;
    grid-template-areas:
      "header1 "
      "card2 "
      "card3 "
      "card4 "
      "card5 "
      "card6 "
      "card7 "
      "card8"
      "card9"
      "card10"
      "footer14";
  }
  .gridcontainer-header-navbar {
    display: flex;
  }
  .left-side {
    display: flex;
  }
}
