/* <--****************** TEXT STYLES ****************** --> */

*body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 50px;
  color: black;
}

h1 span {
  color: white;
  font-size: 50px;
}

a{
color: black;

}

/* <--****************** THE GRID LAYOUT ****************** --> */

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-gap: 3rem;
    grid-template-areas:
    "header1 header1 header1 header1 header1"
    ". card . card2 ."
    "footer14 footer14 footer14 footer14 footer14";
}
/* <--****************** HEADER NAVBAR ****************** --> */

.gridcontainer-header-navbar {
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: auto auto;
  background: #ff0000;

  text-align: right;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.gridcontainer-header-navbar-leftside {
  display: flex;
}

.gridcontainer-header-navbar-leftside-link {
  margin: 30px 0px 0px 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.gridcontainer-header-navbar-leftside-link a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.gridcontainer-header-navbar-leftside-link a:hover {
  color: black;
  text-decoration: underline solid black 1px;
}

.active-gridcontainer-header-navbar-leftside-link a {
  color: black !important;
}

.gridcontainer-header-navbar-rightside {
  padding: 0px 10px 0px 0px;
  display: flex;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}

/* <-- ************ CARDS ******************--> */

.gridcontainer-card-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.gridcontainer-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.gridcontainer-card-image:hover img {
  opacity: 50%;
  transition-timing-function: ease-in;
  transition: opacity 0.75s ease-in-out;
  filter: drop-shadow(4px 3px 4px rgb(104, 104, 104));
}

.gridcontainer-card-image-description {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 5px;
  transition-timing-function: ease-in;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.gridcontainer-card-image-description:hover {
  opacity: 1;
}

.gridcontainer-card-image-description-title {
  margin-top: 20px;
  font-family: Roboto, "Arial", Helvetica, sans-serif;
  font-size: 3vw;
  font-weight: 500;
}

.gridcontainer-card-image-description-tagline {
  font-family: Roboto, "Arial", Helvetica, sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
  font-style: italic;
}

/* <-- ************ FOOTER-NAVBAR ******************--> */

.gridcontainer-footer-navbar {
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: auto auto;
  background: #ff0000;
  padding: 0px 0px;
  text-align: right;
  width: 100%;
  height: 100%;
}
.gridcontainer-footer-navbar-leftside {
  display: flex;
  padding: 30px;
  margin: 10px;
  left: 10px;
}
.gridcontainer-footer-navbar-leftside-links {
  margin: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.gridcontainer-footer-navbar-leftside-links a:hover {
  border-bottom: 1px solid black;
  color: black;
}

.gridcontainer-footer-navbar-rightside {
  padding: 0px 10px 0px 0px;
  justify-content: right;
  font-family: Arial, Helvetica, sans-serif;
}
.facebook {
  color: white;
}
.twitter {
  color: white;
}
.google {
  color: white;
}
.linkedin {
  color: white;
}
.youtube {
  color: white;
}

/* <--****************** SET GRID AREAS ****************** --> */
.header1 {
  grid-area: header1;
  background-color: black;
  padding: 10px 0px;
}



.footer14 {
  grid-area: footer14;
  background-color: black;
  padding: 10px 0px;
}

/* <--****************** MEDIA QUERIES ****************** --> */

.card{
  grid-area: card;
  display:grid;
  grid-template-columns: 300px;
  grid-template-rows: 150px 250px 100px;
  grid-template-areas: "image" "text" "stats";
  font-family: roboto;
  border-radius: 18px;
  background:white;
  box-shadow: 5px 5px 5px black;
  text-align:center;
  cursor: pointer;
  transition: 0.5s ease;
  border:black solid;

}
.card2 {
  grid-area: card2;
  display:grid;
  grid-template-columns: 300px;
  grid-template-rows: 150px 250px 100px;
  grid-template-areas: "image" "text" "stats";
  font-family: roboto;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 5px black;
  text-align:center;
  cursor: pointer;
  transition: 0.5s ease;
  border:black solid;
}

.card-image1{
  grid-area:image;
  background: url(./images/image1.jpg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size:cover;
}

.card-image2{
  grid-area:image;
  background: url(./images/okotoks.jpg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size:cover;
}

.card-text{
  grid-area:text;

  font-family: Roboto, "Arial", Helvetica, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  border-top:black solid ;
  border-bottom:black solid ;
}

.card-text .date{
  color:black;
  box-sizing: border-box;
}

.card-text p{
  color:black;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 18px;
}

card-text h2 {
  margin-top: 0px;
  font-size:40px;

}
.card-stats{
  grid-area:stats;
  display:grid;
  grid-template-columns:1fr ;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background:#ff0000;
  
}
h4{font-size: 35px;}
.card-stats .stst{
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  padding:10px;
  color:black;
  box-sizing: border-box;
  font-size: 18px;


}

.card-stats .type{
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;

}

.card-stats .value{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;

}

.card-stats .border{
  border-left: 1px solid rgb(19, 18, 18);
  border-right: 1px solid rgb(10, 8, 9);
}



.card:hover{
  transform: scale(1.15);
  box-shadow: 5px 5px 15px black;
}
.card2:hover{
  transform: scale(1.15);
  box-shadow: 5px 5px 15px black;
}




